<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Arietti Gabriela">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    <title>Biguá Rugby Club</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <!--HEADER-->
    <header>
        <h1 class="title">-BIENVENIDOS A BIGUÁ-</h1>
        <div class="portada">
            <div class="banner">
                <img id="union" src="../img/banner.png"
                    alt="Jugadores de rugby abrazados con la leyenda'La unión hace la fuerza'">
                <img id="triptico" src="../img/triptico.png"
                    alt="Jugadoras de hockey y jugadores de rugby abrazados con la leyenda 'La unión hace la fuerza'">
            </div>
            <div class="logo"><img id="bigua" src="../img/logo.png" alt="Logo del club Biguá"></div>
        </div>
    </header>
    <!--NAVBAR-->
    <nav class="line">
        <a href="../../index.html">INICIO</a>
        <a href="../views/club.html" id="actual">EL CLUB</a>
        <a href="../views/horarios.html">JUGÁ EN BIGUÁ</a>
        <a href="../views/partidos.html">MIRÁ LOS PARTIDOS</a>
        <a href="../views/socios.html">SOCIOS</a>
    </nav>
    <nav class="fold">
        <span style="cursor: pointer">
            <details>
                <summary class="menufold">▼MENU</summary>
                <a href="../../index.html">INICIO</a>
                <a href="../views/club.html" id="actual">EL CLUB</a>
                <a href="../views/horarios.html">JUGÁ EN BIGUÁ</a>
                <a href="../views/partidos.html">MIRÁ LOS PARTIDOS</a>
                <a href="../views/socios.html">SOCIOS</a>
            </details>
        </span>
    </nav>
    <!--SECTION NOTICIAS-->
    <section class="noticias">
        <article class="noticia1">
            <div class="row mt-4">
                <div class="col" id="noti1">
                    <h2>71 AÑOS DE HISTORIA EN CONSTANTE CRECIMIENTO</h2>
                    <br>
                    <p>Por nuestra institución han pasado durante estos años distintos jugadores de Rugby y de Hockey
                        que han
                        representado al deporte de la ciudad dentro y fuera de país, jugando en equipos de primera
                        categoria y hasta
                        en el seleccionado argentino.</p>
                    <p>Contamos con todas las categorias de ambos sexos, desde escuelita, a partir de los 5 años, hasta
                        el plantel
                        superor, en todas con profesores, preparadores físicos y entrenadores capacitados y sumamente
                        comprometidos en
                        el desarrollo personal y deportivo de los jugadores.</p>
                    <p>Actualmente Biguá cuenta con casi 1000 socios activos de todas las edades, con una demostración
                        del gran
                        sentido de pertenencia que hay por nuestros colores.</p>
                    <p>Nuestras instalaciones se encuentran en un extemo del parque Camet, sobre la calle Beltran, a
                        cien metros
                        antes de la calle Ghandi. En una ubicación privilegiada, de fácil acceso, donde además de contar
                        con 2
                        estacionamientos propios, las líneas de transporte público paran en la puerta del club.</p>
                </div>
                <div class="col-lg-5 col-sm-12">
                    <img class="img-fluid" id="fotonoticia1" src="../img/club1.jpg"
                        alt="Imagen panoramica de las H de una cancha de rugby">
                </div>
            </div>
        </article>
        <article class="noticia2">
            <div class="row mt-4">
                <div class="col order-lg-2" id="noti2">
                    <h2>NUEVAS OBRAS PARA EL CLUB</h2>
                    <br>
                    <p>El año pasado inauguramos nuestra propia cancha de hochey de césped sintético, un hito para
                        nuestra ciudad,
                        convirtiendola en una de las más modernas.</p>
                    <p>Además de pequeñas obras de mejoras constantes que se vienen realizando cotidianamente, este año
                        comenzamos
                        con la construcción de un nuevo gimansio para socios y vestuarios para todas las divisiones.</p>
                    <p>Un proyecto de estas dimensiones no hubiera sido posible sin la colaboración extraordinaria de
                        nuestros
                        socios y de la comunidad interesada en aportar su granito de arena. Vos también podés ser parte
                        de este
                        proyecto, DONÁ A TRAVÉS DE LOS LINKS Y AYUDANOS A COMPLETAR NUESTRO SUEÑO.</p>
                </div>
                <div class="col-lg-5 col-sm-12 order-lg-1" id="not2">
                    <video class="video" src="../video/obras.mp4" autoplay muted loop type="video/mp4"></video>
                </div>
            </div>
        </article>
    </section>
    <!--SECTION DONACIONES-->
    <!--DESKTOP-->
    <section class="donaciones">
        <div class="linkdonar" style="width: 18rem;">
            <img src="../img/donacion1.jpg" class="card-img-top" alt="Dibujo de una moneda con el logo del club Biguá">
            <div class="card-body">
                <p class="card-text">Hace click en el botón de abajo y doná al club la suma de $2.500 para las obras
                    actuales.
                </p>
                <a href="http://mpago.la/16TPFUn" class="btn btn-outline-secondary">$2.500</a>
            </div>
        </div>
        <div class="linkdonar" style="width: 18rem;">
            <img src="../img/donacion2.jpg" class="card-img-top" alt="Dibujo de dos monedas con el logo del club Biguá">
            <div class="card-body">
                <p class="card-text">Hace click en el botón de abajo y doná al club la suma de $5.000 para las obras
                    actuales.
                </p>
                <a href="http://mpago.la/1YkRLbe" class="btn btn-outline-secondary">$5.000</a>
            </div>
        </div>
        <div class="linkdonar" style="width: 18rem;">
            <img src="../img/donacion3.jpg" class="card-img-top"
                alt="Dibujo de tres monedas con el logo del club Biguá">
            <div class="card-body">
                <p class="card-text">Hace click en el botón de abajo y doná al club la suma de $10.000 para las obras
                    actuales.
                </p>
                <a href="http://mpago.la/1gsTX3p" class="btn btn-outline-secondary">$10.000</a>
            </div>
        </div>
    </section>
    <!--MOBILE-->
    <section class="donacionessm">
        <div class="tarjeta">
            <div>
                <img class="imgdonar" src="../img/donacion1.jpg" alt="Dibujo de una moneda con el logo del club Biguá">
            </div>
            <div class="textdonar">
                <p>Hace click en el botón de abajo y doná al club la suma de $2.500 para las obras
                    actuales.</p>
                <a href="http://mpago.la/16TPFUn" class="btn btn-outline-secondary">$2.500</a>
            </div>
        </div>
        <div class="tarjeta">
            <div>
                <img class="imgdonar" src="../img/donacion2.jpg" alt="Dibujo de dos monedas con el logo del club Biguá">
            </div>
            <div class="textdonar">
                <p>Hace click en el botón de abajo y doná al club la suma de $5.000 para las obras
                    actuales.</p>
                <a href="http://mpago.la/16TPFUn" class="btn btn-outline-secondary">$5.000</a>
            </div>
        </div>
        <div class="tarjeta">
            <div>
                <img class="imgdonar" src="../img/donacion3.jpg"
                    alt="Dibujo de tres monedas con el logo del club Biguá">
            </div>
            <div class="textdonar">
                <p>Hace click en el botón de abajo y doná al club la suma de $10.000 para las obras
                    actuales.</p>
                <a href="http://mpago.la/16TPFUn" class="btn btn-outline-secondary">$10.000</a>
            </div>
        </div>
    </section>
    <!--FOOTER-->
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="ms-3"><a href="https://www.instagram.com/biguarugbyclubok/" target="_blank"
                        class="text-body-secondary"><img src="../img/instagramlogo.png" alt="Logo de Instagram"></a>
                </li>
                <li class="ms-3"><a href="https://www.facebook.com/biguarugbyclubmardelplata" target="_blank"
                        class="text-body-secondary"><img src="../img/facebooklogo.png" alt="Logo de Facebook"></a>
                </li>
                <li class="ms-3"><a href="https://www.youtube.com/@biguarugbyclub4594" target="_blank"
                        class="text-body-secondary"><img src="../img/youtubelogo.png" alt="Logo de YouTube"></a>
                </li>
            </ul>
            <div class=footer>
                <img class="logofoot" src="../img/bigualogofooter.png" alt="Logo de bigua rugby club">
                <p>Desde 1951 - Fundadores de la Union de Rugby MDP</p>
            </div>
        </footer>
    </div>
    <!--SCRIP BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>