<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Arietti Gabriela">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    <title>Biguá Rugby Club</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <!--HEADER-->
    <header>
        <h1 class="title">-BIENVENIDOS A BIGUÁ-</h1>
        <div class="portada">
            <div class="banner">
                <img id="union" src="../img/banner.png"
                    alt="Jugadores de rugby abrazados con la leyenda'La unión hace la fuerza'">
                <img id="triptico" src="../img/triptico.png"
                    alt="Jugadoras de hockey y jugadores de rugby abrazados con la leyenda 'La unión hace la fuerza'">
            </div>
            <div class="logo"><img id="bigua" src="../img/logo.png" alt="Logo del club Biguá"></div>
        </div>
    </header>
    <!--NAVBAR-->
    <nav class="line">
        <a href="../../index.html">INICIO</a>
        <a href="../views/club.html">EL CLUB</a>
        <a href="../views/horarios.html">JUGÁ EN BIGUÁ</a>
        <a href="../views/partidos.html">MIRÁ LOS PARTIDOS</a>
        <a href="../views/socios.html" id="actual">SOCIOS</a>
    </nav>
    <nav class="fold">
        <span style="cursor: pointer">
            <details>
                <summary class="menufold">▼MENU</summary>
                <a href="index.html">INICIO</a>
                <a href="../views/club.html">EL CLUB</a>
                <a href="../views/horarios.html">JUGÁ EN BIGUÁ</a>
                <a href="../views/partidos.html">MIRÁ LOS PARTIDOS</a>
                <a href="../views/socios.html" id="actual">SOCIOS</a>
            </details>
        </span>
    </nav>
    <!--FOOTER-->
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="ms-3"><a href="https://www.instagram.com/biguarugbyclubok/" target="_blank"
                        class="text-body-secondary"><img src="../img/instagramlogo.png" alt="Logo de Instagram"></a>
                </li>
                <li class="ms-3"><a href="https://www.facebook.com/biguarugbyclubmardelplata" target="_blank"
                        class="text-body-secondary"><img src="../img/facebooklogo.png" alt="Logo de Facebook"></a>
                </li>
                <li class="ms-3"><a href="https://www.youtube.com/@biguarugbyclub4594" target="_blank"
                        class="text-body-secondary"><img src="../img/youtubelogo.png" alt="Logo de YouTube"></a>
                </li>
            </ul>
            <div class=footer>
                <img class="logofoot" src="../img/bigualogofooter.png" alt="Logo de bigua rugby club">
                <p>Desde 1951 - Fundadores de la Union de Rugby MDP</p>
            </div>
        </footer>
    </div>
    <!--SCRIP BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>