/*MEDIA QUERIES*/
/*CHIQUITO*/
@media (max-width:900px) {
  body{
    background-image: url(../img/fondosm.png);
    background-size: cover;
    }
  h1{
    font-size: 1.4em;
  }
  #triptico{
    display: none;
  }
  .portada {
    display: inline-grid;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: repeat(5,20%);
    justify-content: center;
  }
  .banner{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    grid-row: 1/4;
    grid-column: 1/6;
  }
  .logo{
    width: 45%;
    align-self: center;
    justify-self: center;
    grid-row: 3/5;
    grid-column: 2/5;
  }
}

/*GRANDE*/
@media (min-width:900px) {
  body{
    background-image: url(../img/fondo.png);
    background-size: cover;
    }
  h1{
    font-size: 2em;
  }
  #union {
    display: none;
  }
  .portada {
    display: inline-grid;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: repeat(3,auto);
    justify-content: center;
  }
  .banner{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    grid-row: 1/4;
    grid-column: 1/4;
  }
  .logo{
    width: 50%;
    align-self: center;
    justify-self: center;
    grid-row: 3/5;
    grid-column: 2/3;
  }
}

/*ESTILOS COMUNES*/
* { box-sizing: border-box;
}

body{
  min-width: 450px;
  margin: 0;
  padding: 0;
  background-color: #162f49;
  font-family: 'Arial Narrow Bold',Arial , sans-serif;
  font-size: 16px;
}

/*ESTILOS HEADER*/
h1{
  background-color: #832922;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 0;
}
.banner {
  padding: 0px 20px;
  text-align: center;
  height: fit-content;
}
.banner img{
  width: 100%;
  border-radius: 10px;
}
#bigua {
  width: 100%;
}
