/*MEDIA QUERIES*/
/*MOBILE*/
@media (max-width:900px) {
  body{
    background-image: url(../img/fondosm.png);
    background-size: cover;
    }
/*HEADER*/
  .title{
    font-size: 1.4em;
  }
  #triptico{
    display: none;
  }
  .portada {
    display: inline-grid;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: repeat(5,20%);
    justify-content: center;
  }
  .banner{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    grid-row: 1/4;
    grid-column: 1/6;
  }
  .logo{
    width: 45%;
    align-self: center;
    justify-self: center;
    grid-row: 3/5;
    grid-column: 2/5;
  }
/*NAVBAR*/
.line {
  display: none;
}
nav.fold{
  margin-top: 2%;}
.menufold {
  display: flex;
  justify-content: center;
  background-color: #832922;
  color: #fff;
  padding: 14px 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}
.fold a{
  display: flex;
  justify-content: center;
  background-color: #832922;
  color: #fff;
  padding: 10px 40px;
  margin:10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}
.fold a:hover {
  background-color: #fff;
  color: #832922;
  border-radius: 10px;
  transform: scale(1.2);
  transition: all 500ms;
}
.fold summary:hover {
  background-color: #fff;
  color: #832922;
  border-radius: 10px;
  transform: scale(1.15);
  transition: all 500ms;
}
#actual{
  display: flex;
  justify-content: center;
  background-color: #355ca3;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 0px;
}
/*SLIDER FECHAS*/
.slider {
  display: none;
}
div#bloque.container-fluid.mt-4 {
  padding: 0px 5vw;
}
/*SUSCRIBE*/
.subscribe a{
  align-self: center;
  height: 12vh;
}
.subscribe img{
  height: 12vh;
}
.subscribe img:hover{
  transform: scale(1.1);
  transition: all 500ms;
  }
}


/*DESKTOP*/
@media (min-width:900px) {
  body{
    background-image: url(../img/fondo.png);
    background-size: cover;
    }
/*HEADER*/
  .title{
    font-size: 2em;
  }
  #union {
    display: none;
  }
  .portada {
    display: inline-grid;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: repeat(3,auto);
    justify-content: center;
  }
  .banner{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    grid-row: 1/4;
    grid-column: 1/4;
  }
  .logo{
    width: 50%;
    align-self: center;
    justify-self: center;
    grid-row: 3/5;
    grid-column: 2/3;
  }
/*NAVBAR*/
.fold {
  display: none;
}
/*SLIDER FECHAS*/
.slidersmall {
  display: none;
}
div#bloque.container-fluid.mt-4 {
  padding: 0px 5vw;
}
/*SUSCRIBE*/
.subscribe a{
  align-self: center;
  height: 15vh;
}
.subscribe img{
  height: 15vh;
}

.subscribe img:hover{
transform: scale(1.2);
transition: all 500ms;
}

/*NOTICIAS*/
div.col-lg-5.col-sm-12 {
  padding: 0;
  border-radius: 0px 10px 10px 0px;
  display: flex;
}
img#fotonoticia1.img-fluid {
  border-radius: 0px 10px 10px 0px;
  object-fit: cover;
}
div#not2.col-lg-5.col-sm-12 {
  padding: 0;
  border-radius: 0px 10px 10px 0px;
  display: flex;
}
img#fotonoticia2.img-fluid {
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
}
div#biguafem.col {
  border-radius: 10px 0px 0px 10px;
}
img#fotonoticia3.img-fluid {
  border-radius: 0px 10px 10px 0px;
  object-fit: cover;
}
video.video {
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  object-fit: cover;
}
/*ESTILO DONACIONES*/
section.donaciones {
  padding: 3vh 5vw;
}
section.donaciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-body {
  text-align: center;
}
.linkdonar {
  border-radius: 10px;
  background-color: #fff;
  padding: 0px 15px 20px 15px;
}
}

/*NOTICIAS*/
@media (max-width:1200px){
  section.noticias p{
    font-size: 1.1em;
  }
}
@media (max-width:990px){
  section.noticias p{
    font-size: 1em;
  }
  div#noti1.col {
    border-radius: 10px 10px 0px 0px;
    padding: 25px;
  }
  article.noticia1 {
    padding: 0px 6vw;
  }
  div.col-lg-5.col-sm-12 {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    padding: 0px;
  }
  img#fotonoticia1.img-fluid {
    border-radius: 0px 0px 10px 10px;
    object-fit: cover;
  }
  article.noticia2 {
    padding: 0px 6vw;
  }
  div#noti2.col.order-lg-2 {
    border-radius: 10px 10px 0px 0px;
    padding: 25px;
  }
  div.col-lg-5.col-sm-12.order-lg-1 {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    padding: 0px;
  }
  img#fotonoticia2.img-fluid {
    border-radius: 0px 0px 10px 10px;
    object-fit: cover;
  }
  article.biguafem {
    padding: 0px 6vw;
  }
  div#biguafem.col {
    border-radius: 10px 10px 0px 0px;
  }
  img#fotonoticia3.img-fluid {
    border-radius: 0px 0px 10px 10px;
    object-fit: cover;
  }
  video.video{
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    object-fit: cover;
  }
  section.donaciones {
    display: none;
  }

}
@media (min-width:990px){
  section.donacionessm {
    display: none;
  }
}

/*ESTILOS COMUNES*/
* { box-sizing: border-box;
}

body{
  min-width: 450px;
  margin: 0;
  padding: 0;
  background-color: #162f49;
  font-family: 'Arial Narrow Bold',Arial , sans-serif;
  font-size: 16px;
}

/*ESTILOS HEADER*/
.title{
  background-color: #832922;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 0;
}
.banner {
  padding: 0px 5vw;
  text-align: center;
  height: fit-content;
}
.banner img{
  width: 100%;
  border-radius: 10px;
}
#bigua {
  width: 100%;
}
/*ESTILOS NAVBAR*/
nav {
  background-color: #832922;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index: 5;
}
nav.line {
  margin-top: 2%;
  padding: 0px 20px;
}
nav a {
  color: #fff;
  padding: 1%;
  margin: 0px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}
nav a:hover{
  background-color: #fff;
  color: #832922;
  border-radius: 10px;
  transform: scale(1.3);
  transition: all 500ms;
}
#actual{
  background-color: #355ca3;
  color: #ffffff;
  border-radius: 10px;
  transform: scale(1.3);
}
/*ESTILO PROXIMAS FECHAS*/
.titlefechas{
  background-color: #464646;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 0;
  border-radius: 10px 10px 0px 0px;
}
.slidersmall div {
border-radius: 0px 0px 10px 10px;
}
.slider div {
  border-radius: 0px 0px 10px 10px;
}
span.carousel-control-prev-icon{
  visibility: hidden;
  }
span.carousel-control-next-icon{
    visibility: hidden;
    }
/*ESTILOS NOTICIAS*/
.noticias p{
  font-size: 1.25em;
}
/*NOTICIA 1*/
.noticia1 {
  padding: 0px 5.5vw;
}
#noti1 {
  background-color: #fff;
  border-radius: 10px 0px 0px 10px;
  padding: 15px;
}
div#noti1.col h2{
  margin: 10px 0px;
}
/*NOTICIA 2*/
.noticia2 {
  padding: 0px 5.5vw;
}
#noti2 {
  background-color: #fff;
  border-radius: 0px 10px 10px 0px;
  padding: 15px;
}
div#noti2.col h2{
  margin: 10px 0px;
}
/*NOTICIA BIGUAFEM*/
.biguafem {
  padding: 0px 5.5vw;
}
#biguafem {
  background-color: #fff;
  border-radius: 0px 10px 10px 0px;
  padding: 15px;
}
div#biguafem.col h2{
  margin: 10px 0px;
}

/*ESTILOS SPONSORS*/
div#sponsors.col-12.text-center{
  padding: 0px 5vw;
}
#sponsors h2 {
  background-color: #832922;
  color: #fff;
  border-radius: 10px;
  padding: 20px 0px;
  font-size: 2rem
}
div#imgsponsors.row.mt-3{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 80px;
}
div#imgsponsors.row.mt-3 img{
  max-width: 300px;
  margin: 10px;
  border-radius: 10px;
}
div#imgsponsors.row.mt-3 a:hover{
  transform: scale(1.1);
  transition: all 500ms;
}
div#imgsponsors.row.mt-3 div.col{
  display: flex;
  justify-content: center;
}
/*ESTILOS FOOTER*/
.logofoot {
  width: 50px;
  margin: 0px 15px;
}
.footer {
  display: flex;
  justify-content: center;
  align-content: center
}
.footer p{
  align-self: center;
  color: #fff;
  margin: 0px;
}
li.ms-3 img{
  width: 35px;
  margin: 0px;
}
/*ESTILOS DONACIONES*/
.donacionessm {
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tarjeta {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imgdonar {
  width: 150px;
  border-radius: 10px 0px 0px 10px;
}
.textdonar {
  background-color: #fff;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
}
.textdonar p{
  margin: 2vh;
  font-size: 1em;
}
a.btn.btn-outline-secondary:hover {
  background-color: #355ca3;
}

/*ESTILO BANNER HORARIOS*/
.bannerhorarios{
  padding: 5vh 5vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.foto{
  width: 20%;
  height: 400px;
  object-fit: cover;
  transition: .5s ease;
  filter:grayscale(100%);
}
.foto:hover{
  opacity: 1;
  filter: contrast(120%);
  width: 400px;
  z-index: 4;
}

#infantiles {
  background-image: url(../img/horarioinfantiles.jpg);
  height: 400px;
  border-radius: 10px 0px 0px 10px;
}
#juveniles {
  background-image: url(../img/horariojuveniles2.jpg);
  height: 400px;
}
#rugbyfem {
  background-image: url(../img/horariofem.jpg);
  height: 400px;
}
#hockeyjr {
  background-image: url(../img/horariohockeyjr.jpg);
  height: 400px;
}
#hockey {
  background-image: url(../img/horariohockey.jpg);
  height: 400px;
  border-radius: 0px 10px 10px 0px;
}

/*ESTILOS INFO HORARIOS*/
.info {
  margin: 3vh 5vw;
  padding: 2%;
  background-color: #ffffffde;
  border-radius: 10px;
  text-align: center;
}
.info h3{
  font-weight: bolder;
  color: #832922;
  padding: 2.5vh 0;
}
.info p{
  font-size: 1.3em;
}
.info img{
  width: 35px;
  opacity: .6;
}
.info img:hover{
  transform: scale(1.3);
  opacity: 1;
}
/*ESTILOS PARTIDOS*/
.videocont{
  padding: 5vh 5vw;
  display: flex;
  justify-content: center;
  height: 55vw;
}
.videocont iframe{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
/*ESTILOS SUSCRIBE CANAL*/
.subscribe{
  background-color: #832922;
  padding: 3vh 0;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

/*ESTILOS LOGIN*/
.formulario{
  background-color: #ffffffcf;
  padding: 50px;
  border-radius: 10px;
  margin: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/*ESTILO LOGIN BOOTSTRAP*/
.form-signin {
  max-width: 400px;
  padding: 1rem;
}

.w-100 {
  width: 100%!important;
}
main.form-signin.w-100.m-auto {
  display:block;
  background-color: #b5b5b5ae;
  border-radius: 10px;
  padding: 2%;
  text-align: center;
}
